In [14]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from pandas.io.parsers import read_csv
import warnings
warnings.filterwarnings("ignore")
from matplotlib.pyplot import figure

In [3]:
PATH = "data/Happiness/"

In [4]:
df2015 = pd.read_csv(f'{PATH}2015.csv', low_memory=False)
df2016 = pd.read_csv(f'{PATH}2016.csv', low_memory=False)
df2017 = pd.read_csv(f'{PATH}2017.csv', low_memory=False)
df2018 = pd.read_csv(f'{PATH}2018.csv', low_memory=False)
df2019 = pd.read_csv(f'{PATH}2019.csv', low_memory=False)

In [5]:
df2015

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [10]:
df2015['Region'].value_counts()

Sub-Saharan Africa                 40
Central and Eastern Europe         29
Latin America and Caribbean        22
Western Europe                     21
Middle East and Northern Africa    20
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       2
Australia and New Zealand           2
Name: Region, dtype: int64

In [36]:
top_10_2015 = df2015 [['Country','Happiness Score']].head(10)
bottom_10_2015 = df2015 [['Country','Happiness Score']].tail(10)
bar_plot_data = pd.concat([top_10_2015, bottom_10_2015], keys=['10 happiest countries in 2015','10 least happy countries in 2015'])
bar_plot_data

                                          Country  Happiness Score
5 happiest countries in 2015    0     Switzerland            7.587
                                1         Iceland            7.561
                                2         Denmark            7.527
                                3          Norway            7.522
                                4          Canada            7.427
                                5         Finland            7.406
                                6     Netherlands            7.378
                                7          Sweden            7.364
                                8     New Zealand            7.286
                                9       Australia            7.284
5 least happy countries in 2015 148          Chad            3.667
                                149        Guinea            3.656
                                150   Ivory Coast            3.655
                                151  Burkina Faso            3.587
                                152   Afghanistan            3.575
                                153        Rwanda            3.465
                                154         Benin            3.340
                                155         Syria            3.006
                                156       Burundi            2.905
                                157          Togo            2.839

In [37]:
top_10_2016 = df2016 [['Country','Happiness Score']].head(10)
bottom_10_2016 = df2016 [['Country','Happiness Score']].tail(10)
bar_plot_data = pd.concat([top_10_2016, bottom_10_2016], keys=['10 happiest countries in 2016','10 least happy countries in 2016'])
bar_plot_data

                                          Country  Happiness Score
10 happiest countries in 2016    0        Denmark            7.526
                                 1    Switzerland            7.509
                                 2        Iceland            7.501
                                 3         Norway            7.498
                                 4        Finland            7.413
                                 5         Canada            7.404
                                 6    Netherlands            7.339
                                 7    New Zealand            7.334
                                 8      Australia            7.313
                                 9         Sweden            7.291
10 least happy countries in 2016 147   Madagascar            3.695
                                 148     Tanzania            3.666
                                 149      Liberia            3.622
                                 150       Guinea            3.607
                                 151       Rwanda            3.515
                                 152        Benin            3.484
                                 153  Afghanistan            3.360
                                 154         Togo            3.303
                                 155        Syria            3.069
                                 156      Burundi            2.905

In [38]:
top_10_2017 = df2017 [['Country','Happiness.Score']].head(10)
bottom_10_2017 = df2017 [['Country','Happiness.Score']].tail(10)
bar_plot_data = pd.concat([top_10_2017, bottom_10_2017], keys=['10 happiest countries in 2017','10 least happy countries in 2017'])
bar_plot_data

                                                       Country  \
10 happiest countries in 2017    0                      Norway
                                 1                     Denmark
                                 2                     Iceland
                                 3                 Switzerland
                                 4                     Finland
                                 5                 Netherlands
                                 6                      Canada
                                 7                 New Zealand
                                 8                      Sweden
                                 9                   Australia
10 least happy countries in 2017 145                     Yemen
                                 146               South Sudan
                                 147                   Liberia
                                 148                    Guinea
                                 149                      Togo
                                 150                    Rwanda
                                 151                     Syria
                                 152                  Tanzania
                                 153                   Burundi
                                 154  Central African Republic

                                      Happiness.Score
10 happiest countries in 2017    0              7.537
                                 1              7.522
                                 2              7.504
                                 3              7.494
                                 4              7.469
                                 5              7.377
                                 6              7.316
                                 7              7.314
                                 8              7.284
                                 9              7.284
10 least happy countries in 2017 145            3.593
                                 146            3.591
                                 147            3.533
                                 148            3.507
                                 149            3.495
                                 150            3.471
                                 151            3.462
                                 152            3.349
                                 153            2.905
                                 154            2.693

In [39]:
top_10_2018 = df2018 [['Country or region','Score']].head(10)
bottom_10_2018 = df2018 [['Country or region','Score']].tail(10)
bar_plot_data = pd.concat([top_10_2018, bottom_10_2018], keys=['10 happiest countries in 2018','10 least happy countries in 2018'])
bar_plot_data

                                             Country or region  Score
10 happiest countries in 2018    0                     Finland  7.632
                                 1                      Norway  7.594
                                 2                     Denmark  7.555
                                 3                     Iceland  7.495
                                 4                 Switzerland  7.487
                                 5                 Netherlands  7.441
                                 6                      Canada  7.328
                                 7                 New Zealand  7.324
                                 8                      Sweden  7.314
                                 9                   Australia  7.272
10 least happy countries in 2018 146                    Malawi  3.587
                                 147                     Haiti  3.582
                                 148                   Liberia  3.495
                                 149                     Syria  3.462
                                 150                    Rwanda  3.408
                                 151                     Yemen  3.355
                                 152                  Tanzania  3.303
                                 153               South Sudan  3.254
                                 154  Central African Republic  3.083
                                 155                   Burundi  2.905

In [40]:
top_10_2019 = df2019 [['Country or region','Score']].head(10)
bottom_10_2019 = df2019 [['Country or region','Score']].tail(10)
bar_plot_data = pd.concat([top_10_2019, bottom_10_2019], keys=['10 happiest countries in 2018','10 least happy countries in 2018'])
bar_plot_data

                                             Country or region  Score
10 happiest countries in 2018    0                     Finland  7.769
                                 1                     Denmark  7.600
                                 2                      Norway  7.554
                                 3                     Iceland  7.494
                                 4                 Netherlands  7.488
                                 5                 Switzerland  7.480
                                 6                      Sweden  7.343
                                 7                 New Zealand  7.307
                                 8                      Canada  7.278
                                 9                     Austria  7.246
10 least happy countries in 2018 146                     Haiti  3.597
                                 147                  Botswana  3.488
                                 148                     Syria  3.462
                                 149                    Malawi  3.410
                                 150                     Yemen  3.380
                                 151                    Rwanda  3.334
                                 152                  Tanzania  3.231
                                 153               Afghanistan  3.203
                                 154  Central African Republic  3.083
                                 155               South Sudan  2.853

In [41]:
df2019

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091